.total {
  display: flex;
  min-height: 100vh;
  flex-direction: column;

}

.wrapper {
  display: flex;
  padding: 1rem;
  min-height: 100vh;
  /* margin: 0 auto; */
  /* max-width: 1800px; */
  background-image:
    linear-gradient(to bottom,
      #ffffff 0%,
      rgba(255, 255, 255, 0) 150px),

    linear-gradient(to top,
      #ffffff 0%,
      rgba(255, 255, 255, 0) 150px),

    repeating-linear-gradient(0deg,
      transparent,
      transparent 50px,
      rgba(0, 0, 0, 0.2) 51px,
      rgba(0, 0, 0, 0.2) 52px),

    repeating-linear-gradient(90deg,
      transparent,
      transparent 50px,
      rgba(0, 0, 0, 0.2) 51px,
      rgba(0, 0, 0, 0.2) 52px);


  background-size: 100% 100%, 100% 100%, 52px 52px, 52px 52px;

  background-repeat: no-repeat, no-repeat, repeat, repeat;

  background-position: top, bottom, 0 0, 0 0;


}

.left {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  max-width: 400px;
  gap: 1rem;
  border: 1px solid red;
}

.wrapperTitulos {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* flex-wrap: wrap; */
  min-width: 400px;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

.titulos {
  font-family: font-orbitron, system-ui;
  font-weight: 700;
  font-size: 2.4rem;
  letter-spacing: .2em;
}

.titulos {
  --s: 0.1em;
  /* the thickness of the line */
  --c: rgb(18, 18, 18);
  /* the color */
  color: #0000;

  padding-bottom: var(--s);
  background:
    linear-gradient(90deg, var(--c) 50%, #656262 0) calc(100% - var(--_p, 0%))/200% 100%,
    linear-gradient(var(--c) 0 0) 0% 100%/var(--_p, 0%) var(--s) no-repeat;
  -webkit-background-clip: text, padding-box;
  background-clip: text, padding-box;
  transition-property: background;
  transition-duration: 100ms;
  transition-delay: 3s;
  transition-timing-function: ease-out;
}

.titulos:hover {
  --_p: 100%;
  transition: 0.1s ease-out 0s;
}

.titulos--fast {
  align-self: flex-start;
}

.titulos--charge {
  align-self: center;
}

.titulos--portab {
  align-self: flex-end;
}

.wrapperHeader {
  position: relative;
  width: 100%;
}

.header {
  font-family: "Black Ops One", system-ui;
  font-weight: 400;
  letter-spacing: -.1em;
  font-size: clamp(4.5rem, 5.5vw, 9rem);
  display: flex;
  justify-content: center;
  text-align: center;
  line-height: 0.8;
  position: relative;
  z-index: 10;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.header:hover {
  color: red;
}

.headerImage {
  position: absolute;
  z-index: 20;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url(/src/assets/images/products/img-home-header-01.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

@media (max-width: 900px) {
  .wrapper {
    flex-direction: column;
  }

  .wrapperHeader {
    min-height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
  }

  .header {
    font-size: 4rem;
    width: 100%;
  }

}