.home {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  overflow-x: clip;
}

.home__main {
  display: flex;
  padding: 1rem;
  /* min-height: 100vh; */
  /* margin: 0 auto; */
  /* max-width: 1800px; */
  background-image:
    linear-gradient(to bottom,
      #ffffff 0%,
      rgba(255, 255, 255, 0) 150px),

    linear-gradient(to top,
      #ffffff 0%,
      rgba(255, 255, 255, 0) 150px),

    repeating-linear-gradient(0deg,
      transparent,
      transparent 50px,
      rgba(0, 0, 0, 0.2) 51px,
      rgba(0, 0, 0, 0.2) 52px),

    repeating-linear-gradient(90deg,
      transparent,
      transparent 50px,
      rgba(0, 0, 0, 0.2) 51px,
      rgba(0, 0, 0, 0.2) 52px);


  background-size: 100% 100%, 100% 100%, 52px 52px, 52px 52px;

  background-repeat: no-repeat, no-repeat, repeat, repeat;

  background-position: top, bottom, 0 0, 0 0;


}

.home__features {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: clamp(340px, 80vw, 500px);
  width: 400px;
  gap: 1rem;
  border: 1px solid red;
  view-timeline-name: --features;
}

.home__wrapper-titulos {
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* flex-wrap: wrap; */
  /* min-width: 340px; */
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

.home__title {
  font-family: font-orbitron, system-ui;
  font-weight: 700;
  font-size: 2.4rem;
  letter-spacing: .2em;
  width: fit-content;
  animation-name: reveal-left;
  animation-timeline: --features;
  animation-fill-mode: both;
  animation-timing-function: linear;
  animation-range: entry-crossing 50% exit 20%;

}

@keyframes reveal-left {
  from {
    opacity: 0;
    transform: translateX(-100%) skewX(20deg);
  }

  to {
    opacity: 1;
    transform: translateX(0) skewX(0deg);
  }
}

.home__title {
  --s: 0.1em;
  /* the thickness of the line */
  --c: rgb(18, 18, 18);
  /* the color */
  color: #0000;

  padding-bottom: var(--s);
  background:
    linear-gradient(90deg, var(--c) 50%, #656262 0) calc(100% - var(--_p, 0%))/200% 100%,
    linear-gradient(var(--c) 0 0) 0% 100%/var(--_p, 0%) var(--s) no-repeat;
  -webkit-background-clip: text, padding-box;
  background-clip: text, padding-box;
  transition-property: background;
  transition-duration: 100ms;
  transition-delay: 3s;
  transition-timing-function: ease-out;
}

.home__title:hover {
  --_p: 100%;
  transition: 0.1s ease-out 0s;
}

.home__title--fast {
  align-self: flex-start;
}

.home__title--charge {
  align-self: center;
}

.home__title--portab {
  align-self: flex-end;
}

.home__product-promo {
  position: relative;
  width: 100%;
}

.home__product-promo-content {
  font-family: "Black Ops One", system-ui;
  font-weight: 400;
  letter-spacing: -.1em;
  font-size: clamp(3.5rem, 9.5vw, 9rem);
  display: flex;
  justify-content: center;
  text-align: center;
  line-height: 0.8;
  position: relative;
  z-index: 10;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.home__product-promo-image {
  position: absolute;
  z-index: 20;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url(/src/assets/images/products/img-home-header-01.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

@media (max-width: 900px) {
  .home__main {
    flex-direction: column;
    align-content: center;
    align-items: center;
  }

  .home__product-promo {
    min-height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
  }

  .home__product-promo-content {
    width: 100%;
  }

  .home__features {
    margin: 0;
    width: 100%;
  }

  .home__title {
    align-self: normal;
  }

}

@media (max-width: 400px) {
  .home__main {
    padding: 0;


  }

  .home__features {
    width: 100%;
    margin: 0;
  }
}