.review {
  border: 1px solid black;
  border-radius: 1rem;
  padding: clamp(1rem, 4vh, 8rem);
    /* margin: 0 auto; */
  min-height: 400px;
  width: 100%;
  font-family: font-orbitron, system-ui;
  font-weight: 400;
  flex-direction: column;
    box-shadow:
    inset 0 4px 8px rgba(0, 0, 0, 0.1),
    inset 0 -4px 8px rgba(0, 0, 0, 0.05),
    0 8px 20px rgba(0, 0, 0, 0.15);
  /* view-timeline-name: --review; */
}

.review__title {
  margin-bottom: 0.5rem;
  font-size: 2.5rem;
  line-height: 1;
  align-self: flex-start;
}

.review p {
  text-align: start;
  max-width: 65ch;
  line-height: 1.6;
  overflow-wrap: break-word;
}

.review__cita {
  margin: 0;
  color: hsla(0, 0%, 5%, 0.2);
  background-clip: text;
  background-size: 0% 100%;
  background-repeat: no-repeat;
  background-image: linear-gradient(90deg, rgb(53, 28, 53), rgb(46, 30, 44));
  animation: scroll-reveal linear forwards;
  animation-timeline: view();
  animation-range-start: cover 20vh;
  animation-range-end: cover 50vh;
}

.review__meta {
  display: flex;
  gap: 12px;
}

@keyframes scroll-reveal {
  to {
    background-size: 100% 100%;
  }
}