.hero {
  position: relative;
  width: 100%;  
  view-timeline-name: --section;
  min-height: 100vh;
  display: block;
  height: 200vh;
}

.hero__container {
	min-height: 100vh;
	position: sticky;
	top: 0;
	width: 100%;
	display: grid;
	place-items: center;
  justify-content: center;
	padding: 1rem;
	width: 60ch;
	max-width: 100vw;
	margin: 0 auto;
  /* border: 1px solid red; */
}

.hero__title {
  font-family: font-orbitron, sans-serif;
  font-weight: 400;
  font-size: clamp(2.5rem, 7vw + 1rem, 10rem);
  text-align: center;
  line-height: 1;
  margin: 0;
  display: grid;
  position: sticky;
 top: 50%; 
  translate: 0 -50%;
  /* border: 1px solid black; */
}


.hero__word {
  display: inline-block;
  animation-timeline: --section;
  animation-fill-mode: both;
  animation-timing-function: linear;
}

.hero__word--first {
  color: hsl(0 100% 50%);
  font-size: 0.35em;
  animation-name: fade-away;
  animation-range: entry-crossing 50% exit 20%;
}

.hero__word--last {
  animation-name: scale-up, fade-away;
  animation-range: entry-crossing 60% exit 70%, exit 10% exit 60%;
}

@keyframes scale-up { to { scale: 1.5; } }
@keyframes fade-away { 100% { opacity: 0; } }