.wrapper {
  border: 1px solid rgb(0, 0, 0);
  border-radius: 2rem;
  box-shadow:
    inset 0 4px 8px rgba(0, 0, 0, 0.1),
    /* sombra interna superior */
    inset 0 -4px 8px rgba(0, 0, 0, 0.05),
    /* sombra interna inferior */
    0 8px 20px rgba(0, 0, 0, 0.15);
  /* sombra externa para realismo */
  padding: 1rem;
  font-family: font-orbitron, sans-serif;
  margin-inline: 2rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.wrapper__main {
  display: flex;
  border: 1px solid rgb(0, 0, 0);
  border-radius: 1rem;
  box-shadow:
    inset 0 4px 8px rgba(0, 0, 0, 0.1),
    inset 0 -4px 8px rgba(0, 0, 0, 0.05),
    0 8px 20px rgba(0, 0, 0, 0.15);
  padding: 1rem;
  font-family: font-orbitron, sans-serif;
  justify-content: space-between;
  gap: 1.2rem;
}

.wrapper__mainContent {
  display: flex;
  flex-direction: column;
  min-width: 450px; 
}

.wrapper__img {
  overflow: hidden;
}

.wrapper__title {
  font-size: clamp(1.2rem, 4.5vw, 1.5rem);
  margin-bottom: 0.6rem;
  font-family: font-orbitron, sans-serif;
  font-weight: 700;
  opacity: 1;
  transition: opacity 0.3s ease-in-out;
}


.wrapper__desc {
  font-family: font-orbitron, sans-serif;
  font-weight: 400;
  margin-block: 1rem;
}
.buyDetails {
  display: flex;
  font-size: 12px;
  align-items: center;
  justify-content: space-between;
}

.wrapper__price {
  display: inline-block;
  border: 1px solid black;
  border-radius: 1rem;
  padding: 0.5rem;
}

.wrapper__sidebarDetails {
    background-color: #f8f8f8;
    border: 1px solid #e0e0e0;
    border-radius: 8px;
    padding-inline: 20px;
    width: 100%;
    font-family: sans-serif;
    color: #333;
}

.wrapper__sidebarDetails h3 {
    color: #4a4a4a;
    font-size: 1.25rem;
    border-bottom: 1px solid #000000;

}

.wrapper__sidebarDetails ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.wrapper__sidebarDetails li {
    margin-bottom: 10px;
    padding: 8px 0;
    font-size: 1rem;
    line-height: 1.4;
    display: flex;
    align-items: center;
}

.wrapper__sidebarDetails li:not(:last-child) {
    border-bottom: 1px dashed #eee;
}

.reviewsSection {
}

@media (max-width: 900px) { 
  .wrapper {
    margin: 0 auto;
    margin-inline: 10px;
  }
  .wrapper__main {
    flex-direction: column;
  }

  .wrapper__mainContent {
    min-width: 280px;
    }
  


}