
.wrapper {
  display: grid;
  /* grid-template-columns: repeat(4, 1fr); */
  /* Default: 4 columnas desktop */
  gap: clamp(12px, 2vw, 20px);
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  padding-inline: 2rem;

  max-width: 1200px;
  /* border: 1px solid red; */
  margin: 0 auto;
}