@font-face {
  font-family: font-orbitron;
  src: url(/src/assets/fonts/Orbitron-Bold.ttf);
  font-weight: 700;
}

@font-face {
  font-family: font-orbitron;
  src: url(/src/assets/fonts/Orbitron-Regular.ttf);
  font-weight: 400;
}


.wrapper {
  border: 1px solid rgb(0, 0, 0);
  border-radius: 1rem;
  box-shadow:
    inset 0 4px 8px rgba(0, 0, 0, 0.1),
    /* sombra interna superior */
    inset 0 -4px 8px rgba(0, 0, 0, 0.05),
    /* sombra interna inferior */
    0 8px 20px rgba(0, 0, 0, 0.15);
  /* sombra externa para realismo */
  padding: 1rem;
  font-family: font-orbitron;
}

.wrapper__img {
  height: 300px;
  overflow: hidden;
  border: 1px solid black;
}

.wrapper__img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.wrapper__title {
  font-size: clamp(1.2rem, 4.5vw, 1.5rem);
  margin-bottom: 0.6rem;
  font-family: font-orbitron;
  font-weight: 700;
  opacity: 1;
  transition: opacity 0.3s ease-in-out;
}



.wrapper__title:hover {
  opacity: 0.8; 
}

.wrapper__desc {
   font-family: font-orbitron;
  font-weight: 400;
}
.buyDetails {
  display: flex;
  font-size: 12px;
  justify-content: space-between;
}

/* .buyDetails>button {
  border: 2px solid black;
  border-radius: 1rem;
  padding: 0.5rem;
}

.buyDetails>button:hover {
  color: rgba(0, 0, 0, 0.66);
  border: 2px solid rgb(165, 28, 165);
} */

.wrapper__price {
  display: inline-block;
  border: 1px solid black;
  border-radius: 1rem;
  padding: 0.5rem;
}