.wrapper {
  border: 1px solid red;

}

.wrapper__img {
  height: 300px;
  overflow: hidden;
  border: 1px solid red;
}

.wrapper__img img {
  width: 100%;
  height: 100%;
  border: 1px solid red;
  object-fit: cover;
}