.card {
  border: 1px solid rgb(0, 0, 0);
  border-radius: 1rem;
  box-shadow:
    inset 0 4px 8px rgba(0, 0, 0, 0.1),
    /* sombra interna superior */
    inset 0 -4px 8px rgba(0, 0, 0, 0.05),
    /* sombra interna inferior */
    0 8px 20px rgba(0, 0, 0, 0.15);
  /* sombra externa para realismo */
  padding: 1rem;
  font-family: font-orbitron, sans-serif;
}

.card__wrapper-img {
  height: 300px;
  overflow: hidden;
  border: 1px solid black;
}

.card__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card__title {
  font-size: clamp(1.2rem, 4.5vw, 1.5rem);
  margin-bottom: 0.6rem;
  font-family: font-orbitron, sans-serif;
  font-weight: 700;
  opacity: 1;
  transition: opacity 0.3s ease-in-out;
}



.card__title:hover {
  opacity: 0.8;
}

.card__desc {
  font-family: font-orbitron, sans-serif;
  font-weight: 400;
  margin-block: 1rem;
}

.card__buy-details {
  display: flex;
  font-size: 12px;
  justify-content: space-between;
}

.card__price {
  display: inline-block;
  border: 1px solid black;
  border-radius: 1rem;
  padding: 0.5rem;
}