/* .navBarClass {
  width: 100%;
  padding: 1rem;
  border: 1px solid black;
  display: flex;
  justify-content: center;
  z-index: 99999;
  position:-webkit-sticky;
  position: sticky;
  top: 10px;
  background-color: rgba(0, 0, 0, 0.18);
} */

/* 1. Clase Base para el estilo fijo y la transición */
.navBarBase {
  width: 100%;
  padding: 0.4rem;
  display: flex;
  gap: 12px;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.952);

  position: sticky;
  /* top: 30px; */
  top:0;
  /* Asegura que comienza en la parte superior */
  z-index: 99999;

  transition: transform 0.3s ease-in-out;
}


.navbar--hidden {
  /* Mueve la barra verticalmente hacia arriba por su propia altura (100%) 
     para esconderla fuera del área visible del navegador. */
  transform: translateY(-100%);
}


.navbar--visible {
  /* La trae de vuelta a su posición normal (arriba) */
  transform: translateY(0);
}

.navbar__items {
  display: flex;
  gap: 24px;
  text-align: center;
  align-items: center;
}

.nav-link {
    color: rgb(255, 255, 255);
  padding: 5px;

  text-decoration: none;
}

.nav-link.active {
  color: rgb(100, 109, 228);
  font-weight: bold;
  /* Y en negrita */
  border: 1px solid rgb(251, 251, 251);
  border-radius: 12px;
}