/* 1. Clase Base para el estilo fijo y la transición */
.navBarBase {
  width: 100%;
  padding: 0.8rem;
  display: flex;
  gap: 12px;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.952);
  position: sticky;
  top: 0;
  z-index: 99999;
  transition: transform 0.3s ease-in-out;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}


.navbar--hidden {
  /* Mueve la barra verticalmente hacia arriba por su propia altura (100%) 
     para esconderla fuera del área visible del navegador. */
  transform: translateY(-100%);
}


.navbar--visible {
  /* La trae de vuelta a su posición normal (arriba) */
  transform: translateY(0);
}

.navbar__items {
  display: flex;
  gap: 24px;
  text-align: center;
  align-items: center;
}

.nav-link {
  position: relative;
  color: rgb(255, 255, 255);
  padding: 5px;
  text-decoration: none;
  font-weight: bold;
  border: 2px solid transparent;
}

.nav-link:hover {
  border-bottom: 2px solid rgb(168, 100, 228);
}


.nav-link.active{
  color: rgb(168, 100, 228);
  font-weight: bold;
  border: 2px solid rgb(168, 100, 228);
  border-radius: 12px;

}