
.header {
  width: 100%;
  margin: 0 auto;
  z-index: 6;
      user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

@property --angle {
  syntax: "<angle>";
  initial-value: 0deg;
  inherits: false;
}

.header__main {
  padding: 1rem;
  display: flex;
    justify-content: center;
  text-align: center;
  background-color: white;
  margin-top: 12px;
  margin-bottom: 1rem;
  width: fit-content;
  margin-inline: auto;
  border-radius: 14px;
  position: relative;
  box-shadow:
    inset 0 4px 8px rgba(0, 0, 0, 0.1),
    /* sombra interna superior */
    inset 0 -4px 8px rgba(0, 0, 0, 0.05),
    /* sombra interna inferior */
    0 8px 20px rgba(0, 0, 0, 0.15);
  /* sombra externa para realismo */
}

.header__main::after,
.header__main::before {
  content: "";
  position: absolute;
  background-image: conic-gradient(from var(--angle), transparent 80%, rgb(168, 100, 228));
  width: 100%;
  height: 100%;
  top: 50%;
  left: 50%;
  border-radius: 14px;
  translate: -50% -50%;
  z-index: -1;
  padding: 2px;
  box-sizing: content-box;
  animation: 4s spin linear infinite;
}

.header__main::before {
  filter: blur(0.1rem);
  opacity: 0.9;
}

@keyframes spin {
  from {
    --angle: 0deg;
  }

  to {
    --angle: 360deg;
  }
}

.header__logo h1{
  font-family: "Black Ops One", system-ui;
  font-weight: 400;
  font-size: clamp(3rem, 5.5vw, 6.5rem);
}

.header__logo h1 {
  line-height: 1; 
}

.wrapperNav {
  position: relative;
}