@font-face {
  font-family: 'font-header';
  src: url(/src/assets/fonts/Orbitron-ExtraBold.ttf);
}

.header {
  width: 100%;
  margin: 0 auto;
  z-index: 6;
      user-select: none;
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
}

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  margin-bottom: 1rem;
}


@property --angle {
  syntax: "<angle>";
  initial-value: 0deg;
  inherits: false;
}

.main {

  padding: 1rem;
  /* border: 1px solid black; */
  display: flex;
  background-color: white;
  margin-top: 12px;
  margin-inline: auto;
  border-radius: 14px;
  position: relative;
  box-shadow:
    inset 0 4px 8px rgba(0, 0, 0, 0.1),
    /* sombra interna superior */
    inset 0 -4px 8px rgba(0, 0, 0, 0.05),
    /* sombra interna inferior */
    0 8px 20px rgba(0, 0, 0, 0.15);
  /* sombra externa para realismo */
}

.main::after,
.main::before {
  content: "";
  position: absolute;
  background-image: conic-gradient(from var(--angle), transparent 80%, rgb(168, 100, 228));
  /* background-color: red; */
  width: 100%;
  height: 100%;
  top: 50%;
  left: 50%;
  border-radius: 14px;
  translate: -50% -50%;
  z-index: -1;
  padding: 2px;
  box-sizing: content-box;
  animation: 4s spin linear infinite;
}

.main::before {
  filter: blur(0.1rem);
  opacity: 0.9;
}

@keyframes spin {
  from {
    --angle: 0deg;
  }

  to {
    --angle: 360deg;
  }
}

.header__logo {
  font-family: 'font-header', sans-serif;
  font-size: 3.5rem;
}

.header__logo h1 {
  line-height: 1; 
}

.wrapperNav {
  position: relative;
}