@font-face {
  font-family: 'font-header';
  src: url(/src/assets/fonts/Orbitron-ExtraBold.ttf);
}

.header {
  width: 100%;
  margin: 0 auto;
}

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.main {
  padding-block: 1rem;
  padding-inline: 0.5rem;
  display: flex;
  margin-top: 12px ;
  margin-inline: auto;
    border: 3px solid black;
  border-radius: 0.6rem;
}

.header__logo {

  font-family: 'font-header', sans-serif;
  font-size: 3.5rem;
}

.wrapperNav {
  position: relative;
}