footer {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  gap: 12px;
}

.wrapper-footer {
  margin-top: 4rem;
  justify-content: center;
}
footer>div {
  justify-content: center;
}

footer svg {
  width: 24px;
  height: 24px;
}


a:link {
  border-bottom: 3px solid transparent;
  /* color: rgb(255, 255, 255); */
  text-decoration: none;
}

a:visited{
  text-decoration: none;
}

a > svg {
  transition: all  0.3s ease-in-out;

  transform: translateY(0);

}
a:hover {
  border-bottom: solid rgb(168, 100, 228);
  text-decoration: none; /* Quitar el underline por defecto */;
}

a:hover svg{
  transition: all  0.3s ease-in-out;
  transition-delay: 0.2s;
  transform: translateY(-10px);

}
