@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: font-orbitron;
  src: url(/src/assets/fonts/Orbitron-Regular.ttf);
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: font-orbitron;
  src: url(/src/assets/fonts/Orbitron-Bold.ttf);
  font-weight: 700;
  font-display: swap;
}


@font-face {
  font-family: "Black Ops One";
  src: url(/src/assets/fonts/BlackOpsOne-Regular.ttf);
  font-weight: 400;
  font-display: swap;
}
